body {
    color: white;
    background-color: #121212;
    font-family: sans-serif;
    margin: 0;
}
.contact {
  text-align: center;
  width: 100vw;
  padding-top: 88vh;
  opacity: 0.5;
}

.contact2 {
  text-align: center;
  bottom: 1rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100vw;
  opacity: 0.5;
}

h1 {
    font-weight: 600;
    padding-top: 5rem;
    font-size: 1.7rem;
    letter-spacing: 0.15rem;
}
h3 {
     font-weight: 200;
     letter-spacing: 0.15rem;
     font-size: 1rem;
     padding-bottom: 1rem;
     margin-top: -0.7rem;

}
p {
    font-size: 0.85rem;
    font-weight: 200;
    padding-left: 20vw;
    padding-right: 20vw;
    max-width: 100%;
    line-height: 1.4rem;

}
.index2 {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0vw;
}
#page1 {
  height: 100vh;
  position: relative;
}
#intro {
  background-color: #181818;
  width: 100vw;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0px 0px 7px black;
 }


button {
    padding: 0.75rem 1.5rem;
    margin: 2rem 0rem 5rem 0rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    border: none;
}
button:hover {
  background-color: #D9D9D9;
}
   
  /*page 2*/
      #intro2 {
        width: 100vw;
        box-shadow:0;
       }

      #intro2 h1 {
        font-weight: 600;
        margin-left: 5rem;
        padding-top: 5rem;
        margin-top: 0rem;
        font-size: 1.7rem;
        letter-spacing: 0.15rem;
      }
      #intro2 h3 {
        margin-left: 5rem;
        font-weight: 200;
        letter-spacing: 0.15rem;
        font-size: 1rem;
        padding-bottom: 1rem;
        margin-top: -0.7rem;
      }
      #intro2 p {
        font-size: 0.85rem;
        font-weight: 200;
        margin-left: 5rem;
        max-width: 60%;
        line-height: 1.4rem;
      }
      .index2 {
        max-width: 75%;
        margin-right: auto;
        margin-left: auto;
      }
      table,
      th,
      td {
        border-collapse: collapse;
        padding: 5px;
      }
      table {
        width: 100%;
        border: 1px solid #ffffff70;
        margin-bottom: 1rem;
      }
      #likert {
        text-align: left;
        background-color: #313131;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-right: 1px solid #ffffff70;
      }
      th {
        text-align: center;
        padding: 0.5rem 1rem;
        max-width: 6rem;
        min-width: 6rem;
        font-size: 0.85rem;
      }

      td {
        text-align: center;
        font-size: 0.85rem;
      }

      td:nth-child(1) {
        border-right: 1px solid #ffffff70;
      }
      .question-text {
        text-align: left;
        padding: 1rem;
      }
      .questions {
        margin: 0rem 3rem 0rem 3rem;
        padding: 2rem;
      }
      .backtable {
        background-color: #313131;
      }
      .backtable-soft {
        background-color: #31313150;
      }
      #intro2 button {
        padding: 0.75rem 1.5rem;
        margin: 0rem 0rem 5rem 5rem;
        text-transform: uppercase;
        background-color: white;
        border-radius: 10px;
        border: none;
    }

  /*page 3*/

  #page3 {
    height: 100vh;
    position: relative;
  }
  #intro3 {
    background-color: #181818;
    width: 100vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0px 0px 7px black;
   }
  /*page 4*/
  .centermiddle {
    position: relative;
    height: 55vh;
    background-color: #181818;
    width: 100vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    padding-top: 2rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0px 0px 7px black;
  }

  .centermiddleChoice {
    width: 100vw;
    position: relative;
    height: 25vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 30%;
    padding-top: 2rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .decision-making {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 2vw;
  }
  
  .grid-choice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 75%;
    }
    .grid-choiceI {
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -30%);
      }
      .grid-choiceII {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -30%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        width: 60vw;
        max-width: 75%;
        } 

  img {
    max-width: 100%;
    border-radius: 10px;
  }
 .decision-making h3 {
  padding: 0rem 3rem 0rem 3rem;
 }
  .playlist-choice, .item1, .item2, .item3, .item4{
    background-color: #181818;
    box-shadow: 0px 0px 7px black;
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
    max-width: 9rem;
    min-width: 9rem;
  }

  .chosenItem {
    background-color: #181818;
    box-shadow: 0px 0px 7px black;
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
    max-width: 9rem;
    min-width: 9rem;
  }

  .playlist-choice:hover {
    background-color: #313131;
  }

 h2 {
     font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  .grid-choice a {
    color: white;
    text-decoration: none;
  }

    /*page 5*/
    #intro5 {
      width: 100vw;
      margin-top: 10rem;
     }

    #intro5 h1 {
      font-weight: 600;
      margin-left: 5rem;
      padding-top: 5rem;
      margin-top: 0rem;
      font-size: 1.7rem;
      letter-spacing: 0.15rem;
    }
    #intro5 h3 {
      margin-left: 5rem;
      font-weight: 200;
      letter-spacing: 0.15rem;
      font-size: 1rem;
      padding-bottom: 1rem;
      margin-top: -0.7rem;
    }
    #intro5 p {
      font-size: 0.95rem;
      font-weight: 200;
      margin-left: 5rem;
     line-height: 1.4rem;
    }
  
    #intro5 button {
      padding: 0.75rem 1.5rem;
      margin: 0rem 0rem 5rem 5rem;
      text-transform: uppercase;
      background-color: white;
      border-radius: 10px;
      border: none;
  }
  
    .grid-survey {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      background-color: #181818;
      box-shadow: 0px 0px 7px black;
      padding: 2rem 5rem 2rem 5rem;
    }

    /*page 6*/
    #intro6 {
      width: 100vw;
      margin-top: 2rem;
     }

     #intro6 h1 {
      font-weight: 600;
      margin-left: 5rem;
      padding-top: 5rem;
      margin-top: 0rem;
      font-size: 1.7rem;
      letter-spacing: 0.15rem;
    }
    #intro6 h3 {
      margin-left: 5rem;
      font-weight: 200;
      letter-spacing: 0.15rem;
      font-size: 1rem;
      padding-bottom: 1rem;
      margin-top: -0.7rem;
    }
    #intro6 p {
      font-size: 0.95rem;
      font-weight: 200;
      margin-left: 5rem;
     line-height: 1.4rem;
    }

    /*page 7*/

    #page7 {
      height: 100vh;
      position: relative;
    }
    #intro7 {
      background-color: #181818;
      width: 100vw;
      text-align: center;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      box-shadow: 0px 0px 7px black;
     }
     #intro7 h1 {
      padding-top: 0rem;
  }
      #intro7 p {
        padding-bottom: 5rem;
      }
      .icon-done {
        text-align: center;
      }

      /*page 8*/
      .progress {
        text-align: center;
        padding-top: 2rem;
      }
      hr {
        width: 1rem;
        border-color: #1ad760;
        display: inline-block;
        border-width: 0.5px;
        vertical-align: middle;
      }

      @media only screen and (max-width: 600px) {
    
           #intro2 {
              width: 100vw; 
              box-shadow:0;
            }

            #intro2 h1 {
              font-weight: 600;
              margin-left: 2rem;
              padding-top: 5rem;
              margin-top: 0rem;
              font-size: 1.7rem;
              letter-spacing: 0.15rem;
            }
            #intro2 h3 {
              margin-left: 2rem;
              font-weight: 200;
              letter-spacing: 0.15rem;
              font-size: 1rem;
              padding-bottom: 1rem;
              margin-top: -0.7rem;
            }
            #intro2 p {
              font-size: 0.85rem;
              font-weight: 200;
              margin-left: 2rem;
              max-width: 60%;
              line-height: 1.4rem;
            }
            .index2 {
              max-width: 75%;
              margin-right: auto;
              margin-left: auto;
            }
            table,
            th,
            td {
              border-collapse: collapse;
              padding: 5px;
            }
          
            #intro2 button {
              margin: 0rem 0rem 2rem 2rem;
            }
            .questions {
              margin: 0rem 0rem 0rem 0rem;
              padding: 2rem;
            }
            /*page 4*/
            .centermiddle {
              width: 100vw;
              position: relative;
              height: 78vh;
              background-color: #121212;
              width: 100vw;
              text-align: center;
              margin: 0;
              position: absolute;
              top: 50%;
              padding-top: 2rem;
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              box-shadow: none;
            }
            .decision-making {
              grid-template-columns: 1fr;
              text-align: center;
              margin-top: 2vw;
            }
            
            .grid-choice {
              left: 49%;
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 2rem;
              width: 80vw;
              max-width: 100%;
              padding-bottom: 5rem;
              padding-top: 3rem;
              }

           .decision-making h3 {
            padding: 0rem 3rem 0rem 3rem;
           }
            .playlist-choice, .item1, .item2, .item3, .item4{
              background-color: #181818;
              box-shadow: 0px 0px 7px black;
              text-align: left;
              padding: 1rem;
              border-radius: 10px;
              width: 100%;
              max-width: 10rem;
              min-width: 7rem;
            }
            /*page 5*/
            #intro5 {
              width: 100vw;
              margin-top: 10rem;
             }
        
            #intro5 h1 {
              font-weight: 600;
              margin-left: 2rem;
              padding-top: 5rem;
              margin-top: 0rem;
              font-size: 1.7rem;
              letter-spacing: 0.15rem;
            }
            #intro5 h3 {
              margin-left: 2rem;
              font-weight: 200;
              letter-spacing: 0.15rem;
              font-size: 1rem;
              padding-bottom: 1rem;
              margin-top: -0.7rem;
            }
            #intro5 p {
              font-size: 0.95rem;
              font-weight: 200;
              margin-left: 2rem;
              max-width: 60%;
              line-height: 1.4rem;
            }
          
            #intro5 button {
              margin: 0rem 0rem 5rem 2rem;
          }
       #intro5 table {
            margin-left: -2rem;
          }
          #likert {
            text-align: left;
            background-color: #313131;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-right: 1px solid #ffffff70;
          }
          th {
            text-align: center;
            padding: 0.5rem 1rem;
            max-width: 3rem;
            min-width: 2rem;
            font-size: 0.85rem;
          }
          td:nth-child(1) {
            border-right: 1px solid #ffffff70;
            min-width: 5rem;
          }
        }
    