body {
  color: white;
  background-color: #121212;
  font-family: sans-serif;
}

h1 {
  font-weight: 600;
  margin-left: 5rem;
  padding-top: 5rem;
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
}
h3 {
   margin-left: 5rem;
   font-weight: 200;
   letter-spacing: 0.15rem;
   font-size: 1rem;
   padding-bottom: 1rem;
   margin-top: -0.7rem;

}
p {
  font-size: 0.95rem;
  font-weight: 200;
  margin-left: 5rem;
  padding-left: 20vw;
  padding-right: 20vw;
  line-height: 1.4rem;
}

.decision-making {
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 4vw;
}

.centermiddle {
  position: relative;
  height: 90vh;
}
.grid-choice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  width: 60vw;
  max-width: 75%;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.playlist-choice{
  background-color: #181818;
  box-shadow: 0px 0px 7px black;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  max-width: 100%;
}
.playlist-choice:hover {
  background-color: #313131;
}

h2 {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.grid-choice a {
  color: white;
  text-decoration: none;
}

     /*page 8*/
     .progress {
      text-align: center;
      padding-top: 2rem;
    }
    hr {
      width: 1rem;
      border-color: #1ad760;
      display: inline-block;
      border-width: 0.5px;
      vertical-align: middle;
    }